@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #09090a;
  --text-color: #fafafa;
}

body {
  background: var(--bg);

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);
    line-height: 1.7;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  h1 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
